<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terpenes in Legal Hemp</title>
  </head>
  <body>
    <h1>Welcome to the Terpenes app!</h1>
    <p>An app for selecting hemp products based on botanical terpenes.</p>
    <aside>
      <h2>What are Terpenes?</h2>
      <p>One of the significant compounds used in essential oils, terpenes, is most commonly derived from plants, including teas, herbs, and, of course, cannabis. Terpenes can also be found in animals. Terpenes are essentially found in an animal’s egg yolk, fish scales, and feathers.</p>
      </aside>
    <a href="/terpenes">Browse Terpenes</a>
    <p>If you're a botanist and discover something new, </p> <a href="/terpenes/new"> Add a New Terpene</a>
  </body>
</html>
