<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Terpene</title>
  </head>
  <body>
    <h1>Create a New Terpene</h1>
    <form action="/terpenes" method="POST">
      <label for="name">Common Name:</label>
      <input type="text" id="name" name="name" required />
      
      <label for="foundIn">Found in: </label>
      <input type="text" id="foundIn" name="foundIn" maxlength="30"/>
      
      <fieldset>
        <legend>Aromatics:</legend>
        <label>
          <input type="checkbox" name="aromatics" value="citrus" /> Citrus
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="earth" /> Earth
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="floral" /> Floral
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="herbal" /> Herbal
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="metallic" /> Metallic
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="mint" /> Mint
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="musk" /> Musk
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="pine" /> Pine
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="spicy" /> Spicy
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="sweet" /> Sweet
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="wood" /> Wood
        </label>
      </fieldset>
      <fieldset>
        <legend>Health Benefits:</legend>
        <label>
          <input type="checkbox" name="effects" value="alertness" /> Alertness
        </label>
        <label>
          <input type="checkbox" name="effects" value="anti-anxiety" /> Anti-anxiety
        </label>
        <label>
          <input type="checkbox" name="effects" value="anti-bacterial" /> Anti-bacterial
        </label>
        <label>
          <input type="checkbox" name="effects" value="anti-depressant" /> Anti-depressant
        </label>
        <label>
          <input type="checkbox" name="effects" value="anti-fungal" /> Anti-fungal
        </label>
        <label>
          <input type="checkbox" name="effects" value="anti-inflammatory" /> Anti-inflammatory
        </label>
        <label>
          <input type="checkbox" name="effects" value="antioxidant" /> Antioxidant
        </label>
        <label>
          <input type="checkbox" name="effects" value="appetite suppressant" /> Appetite Suppressant
        </label>
        <label>
          <input type="checkbox" name="effects" value="bronchial dilator" /> Bronchial Dilator
        </label>
        <label>
          <input type="checkbox" name="effects" value="digestion" /> Digestion
        </label>
        <label>
          <input type="checkbox" name="effects" value="insomnia" /> Insomnia
        </label>
        <label>
          <input type="checkbox" name="effects" value="memory" /> Memory
        </label>
        <label>
          <input type="checkbox" name="effects" value="mood elevation" /> Mood Elevation
        </label>
        <label>
          <input type="checkbox" name="effects" value="muscle spasms" /> Muscle Spasms
        </label>
        <label>
          <input type="checkbox" name="effects" value="pain relief" /> Pain Relief
        </label>
        <label>
          <input type="checkbox" name="effects" value="relaxation" /> Relaxation
        </label>
      </fieldset>
      <button type="submit">Add Terpene</button>
    </form>
    <a href="/terpenes/">Back to List</a>

  </body>
  
</html>
