<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Terpene <%= terpene.name %></title>
  </head>
  <body>
    <h1>Add new information</h1>
    <form action="/terpenes/update/<%= terpene._id %>?_method=PUT" method="POST">
      <h2><%= terpene.name %></h2>
      <input type='hidden' name="_method" value="PUT">
      <label for="aka">Also Known as:</label>
      <input type="text" id="aka" name="aka" maxlength="30" />
      
      <label for="foundIn">Found in: </label>
      <input type="text" id="foundIn" name="foundIn" />
      
      <fieldset>
        <legend>Aromatics:</legend>
        <label>
          <input type="checkbox" name="aromatics" value="citrus" /> Citrus
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="earth" /> Earth
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="floral" /> Floral
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="metallic" /> Metallic
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="mint" /> Mint
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="musk" /> Musk
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="pine" /> Pine
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="spicy" /> Spicy
        </label>
        <label>
          <input type="checkbox" name="aromatics" value="wood" /> Wood
        </label>
        </fieldset>
      <fieldset>
        <legend>Health Benefits:</legend>
        <label>
        <input type="checkbox" name="effects" value="anti-anxiety" /> Anti-anxiety
          </label>
        <label>
        <input type="checkbox" name="effects" value="anti-bacterial" /> Anti-bacterial
          </label>
    <label>
      <input type="checkbox" name="effects" value="anti-depressant" /> Anti-depressant
    </label>
    <label>
      <input type="checkbox" name="effects" value="anti-fungal" /> Anti-fungal
    </label>
    <label>
      <input type="checkbox" name="effects" value="anti-inflammatory" /> Anti-inflammatory
    </label>
    <label>
      <input type="checkbox" name="effects" value="antioxidant" /> Antioxidant
    </label>
    <label>
      <input type="checkbox" name="effects" value="appetite suppressant" /> Appetite Suppressant
    </label>
    <label>
      <input type="checkbox" name="effects" value="bronchial dilator" /> Bronchial Dilator
    </label>
    <label>
      <input type="checkbox" name="effects" value="digestion" /> Digestion
    </label>
    <label>
      <input type="checkbox" name="effects" value="mood elevation" /> Mood Elevation
    </label>
    <label>
      <input type="checkbox" name="effects" value="pain relief" /> Pain Relief
    </label>
        </fieldset>
      <button type="submit">Update Terpene</button>
    </form>
    <a href="/terpenes/">Back to List</a>

  </body>
  
</html>
